<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/perfil-deslogado.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="js/utils/perfil-script.js"></script>
    <title>Perfil</title>
</head>
<body>
    <!--CABEÇALHO-->
    <header class="cabecalho">
        <h2>Foca.</h2>
        <nav class="navigation">
            <button class="register-button" onclick="window.location.href='/login'">Criar conta</button>

            <button class="login" onclick="window.location.href='/login'">Login</button>
        </nav>
        
    </header>

    <!--CONTEÚDO PRINCIPAL DO PERFIL-->
    <div class="perfil">
        <div class="perfil-area-title"> perfil </div>
        <div class="perfil-area-title">
            <img class="user-img" src="https://th.bing.com/th/id/R.bea7622fd9455ace918c472147706ff3?rik=wBqmVUDgnp5Rtw&pid=ImgRaw&r=0" alt="profile-img">   
            <div class="informaçoes">Joazin Gamer</div>
            <div class="informaçoes">E-mail: Joazin.gamer.23@cjr.org.br</div>
            <div class="informaçoes"> Acessor</div>
                        
        </div>
         
        
            
        <div class="perfil__post1"> publicações</div>        

        <div class="perfil__post">
            <div class="infoUserPost">
                <img class="user-img" src="https://th.bing.com/th/id/R.bea7622fd9455ace918c472147706ff3?rik=wBqmVUDgnp5Rtw&pid=ImgRaw&r=0" alt="profile-img">
                Joazin Gamer
                <p class="data">23/11/2023</p>
            </div>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quasi inventore omnis perspiciatis, qui repudiandae optio odit corporis incidunt rerum temporibus rem consequuntur maxime vero numquam autem adipisci quo quia aliquid.
            <div class="comment">
                <i class="material-icons" onclick="redirectToPage('comments.html')">comment</i>
            </div>
        </div>

        <div class="perfil__post">
            <div class="infoUserPost">
                <img class="user-img" src="https://th.bing.com/th/id/R.bea7622fd9455ace918c472147706ff3?rik=wBqmVUDgnp5Rtw&pid=ImgRaw&r=0" alt="profile-img">
                Joazin Gamer
                <p class="data">23/11/2023</p>
            </div>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quasi inventore omnis perspiciatis, qui repudiandae optio odit corporis incidunt rerum temporibus rem consequuntur maxime vero numquam autem adipisci quo quia aliquid.
            <div class="comment">
                <i class="material-icons" onclick="redirectToPage('comments.html')">comment</i>
            </div>
        </div>

            
        <div class="perfil__post">
            <div class="infoUserPost">
                <img class="user-img" src="https://th.bing.com/th/id/R.bea7622fd9455ace918c472147706ff3?rik=wBqmVUDgnp5Rtw&pid=ImgRaw&r=0" alt="profile-img">
                Joazin Gamer
                <p class="data">23/11/2023</p>
            </div>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quasi inventore omnis perspiciatis, qui repudiandae optio odit corporis incidunt rerum temporibus rem consequuntur maxime vero numquam autem adipisci quo quia aliquid.
            <div class="comment">
                <i class="material-icons" onclick="redirectToPage('comments.html')">comment</i>
            </div>
        </div>
          
    </div>
</body>
