<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/comments-style.css">
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> 
    <title>Comentários</title>
</head>

<body>

    <header>
        <a href="/feed" style="text-decoration: none;">
            <h2 class="logo">Foca.</h2>
        </a>

        <nav class="navigation">
            <button class="register-button" onclick="window.location.href='/login'">Criar conta</button>

            <button class="login" onclick="window.location.href='/login'">Login</button>
        </nav>
    </header>

    <div class="comments-area">

        <div class="area-title">
            <div class='title'>Comentários</div>
        </div>

        <div id="feed-comments">
            <script>  
                var idPost = window.location.href.split("/").slice(-1)[0];
                fetch("/posts/"+idPost, {
                    method: "GET"
                })
                .then((response) => response.json())
                .then((json) => {
                    var comentarios = json.comentarios;
                    console.log(comentarios);
                    for(var i = 0; i < comentarios.length; i++) {
                        var index = comentarios.length - i - 1;
                        var dataCriacao = comentarios[index].DataCriacao.substr(0, 10).replaceAll("-", "/");
                        //$("#feed-posts").append('<div class="feed__post"><div class="infoUserPost"><img class="user-img" src="https://th.bing.com/th/id/R.bea7622fd9455ace918c472147706ff3?rik=wBqmVUDgnp5Rtw&pid=ImgRaw&r=0" alt="profile-img">Joazin Gamer<p class="data">'+ dataCriacao +'</p><i class="material-icons">delete forever</i></div>' + comentarios[index].texto + '<div class="comment-edit"><a style="color: #fff" href="comments-logado/'+comentarios[index].id+'"><i class="material-icons"">comment</i></a><i id="edit" class="material-icons" onclick="openModal()">edit</i></div></div>')
                        //$("#feed-comments").append('<div class="comment"><div class="user"><img class="user-img" src="https://th.bing.com/th/id/R.bea7622fd9455ace918c472147706ff3?rik=wBqmVUDgnp5Rtw&pid=ImgRaw&r=0" alt="profile-img">Joazin Gamer<p class="data">'+ dataCriacao + '</p><i class="material-icons">delete forever</i></div>'+ comentarios[index].texto +'<div class="edit"><i id="editButton" class="material-icons" onclick="openModal()">edit</i></div></div>')
                        $("#feed-comments").append('<div class="comment"><div class="user"><img class="user-img" src="https://th.bing.com/th/id/R.bea7622fd9455ace918c472147706ff3?rik=wBqmVUDgnp5Rtw&pid=ImgRaw&r=0" alt="profile-img">Joazin Gamer<p class="data">'+ dataCriacao + '</p></div>'+ comentarios[index].texto +'</div>')
                        
                    };
                });                
            </script>
        </div>

    </div>

</body>

</html>
