<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/feed.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="/js/feed-script.js"></script>
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> 
    <title>Feed</title>
</head>
<body>
    <!--CABEÇALHO-->
    <header class="cabecalho">
        <a href="/feed" style="text-decoration: none;">
            <h2 class="logo">Foca.</h2>
        </a>
        <nav class="navigation">
            <button class="register-button" onclick="window.location.href='/login'">Criar conta</button>

            <button class="login" onclick="window.location.href='/login'">Login</button>
        </nav>
    </header>

    <!--CONTEÚDO PRINCIPAL DO FEED-->
    <div class="feed">
        <div class="feed-area-title">
            <div class='title'>Publicações</div>
        </div>

        <div id="feed-posts">
            <script>  
                const response = [];
                fetch("/posts", {
                    method: "GET"
                })
                .then((response) => response.json())
                .then((json) => {
                    console.log(json);
                    for(var i = 0; i < json.length; i++) {
                        var index = json.length - i - 1;
                        var dataCriacao = json[index].dataCriacao.substr(0, 10).replaceAll("-", "/");
                        $("#feed-posts").append('<div class="feed__post"><div class="infoUserPost"><img class="user-img" src="https://th.bing.com/th/id/R.bea7622fd9455ace918c472147706ff3?rik=wBqmVUDgnp5Rtw&pid=ImgRaw&r=0" alt="profile-img">Joazin Gamer<p class="data">'+ dataCriacao +'</p></div>' + json[index].texto + '<div class="comment"><a style="color: #fff" href="comments/'+json[index].id+'"><i class="material-icons"">comment</i></a></div>')
                        
                    };
                });                
            </script>
        </div>
          
    </div>
</body>
